<html>
<head>
    <title>BOLTCipher technologie</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<h1><a>Infos</a></h1>

<h2>UUID:</h2>
<p>{{ unique_id }}</p>

<h2>Encrypt Mode:</h2>
<p>{{ encrypt_mode }}</p>

<h2>Cost:</h2>
<p>{{ cost }}</p>

<h2>Abstract:</h2>
<p>{{ abstract }}</p>

<h2>Bolt11 invoice:</h2>
<p>{{ bolt11 }}</p>

<h2>Nonce (Hex):</h2>
<p>{{ nonce_hex }}</p>

<h2>Encrypted content (Base64):</h2>
<p>{{ encrypted_content }}</p>

</body>
</html>