<html>
<head>
    <title>Info</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
<div class="formbold-logo-wrapper"><a href="https://f418.me">
    <img src="{{ url_for('static', path='/logo.svg') }}" alt="logo" width="150" height="45"/>
</a></div>


<div class="formbold-title-wrapper">
    <label for="encrypt_mode" class="bold-label">Encryption Mode:</label>
</div>
<div class="formbold-main-wrapper">
    <p
            name="encrypt_mode"
            id="encrypt_mode"
            class="formbold-form-output"
    >{{ item.encrypt_mode }}</p>
</div>

<div class="formbold-title-wrapper">
    <label for="cost" class="bold-label">Cost:</label>
</div>
<div class="formbold-main-wrapper">
    <p
            name="cost"
            id="cost"
            class="formbold-form-output"
    >{{ item.cost }}</p>
</div>

<div class="formbold-title-wrapper">
    <label for="abstract" class="bold-label">Abstract:</label>
</div>
<div class="formbold-main-wrapper">
    <p
            name="abstract"
            id="abstract"
            class="formbold-form-output"
    >{{ item.abstract }}</p>
</div>

<div class="formbold-title-wrapper">
    <label for="bolt11" class="bold-label">Bolt11 Invoice:</label>
</div>
<div class="formbold-main-wrapper">
    <p
            name="bolt11"
            id="bolt11"
            class="formbold-form-output"
    >{{ item.bolt11 }}</p>
</div>

<div class="formbold-title-wrapper">
    <label for="nonce_hex" class="bold-label">Nonce (Hex):</label>
     <span class="formbold-comment">(Required for decryption)</span>
</div>
<div class="formbold-main-wrapper">
    <p
            name="nonce_hex"
            id="nonce_hex"
            class="formbold-form-output"
    >{{ item.nonce_hex }}</p>
</div>

<div class="formbold-title-wrapper">
    <label for="encrypted_content" class="bold-label">Encrypted Content (Base64):</label>
</div>
<div class="formbold-main-wrapper">
    <p
            name="encrypted_content"
            id="encrypted_content"
            class="formbold-form-output"
    >{{ item.encrypted_content }}</p>
</div>

</body>
</html>